.countryInfo {
    width: 500px;
    height: 500px;
    float: right;
    padding: 20px;
    position: relative;
    overflow: auto;
    box-shadow: 2px 2px 10px grey;
}
img {
    width: 300px;
    display: block;
    margin: 0 auto;
}
p {
    margin-left: 50px;
}