.App {
    width: 800px;
    margin: 20px auto;
}

.countryList {
    width: 220px;
    margin: 0;
    display: inline-block;
    float: left;
    height: 540px;
    overflow: auto;
    list-style: none;
    padding-left: 0;
    box-shadow: 0 0 5px grey;
}